<p id="notice"><%= notice %></p>

<p>
  <strong>Rail campany cd:</strong>
  <%= @station.rail_campany_cd %>
</p>

<p>
  <strong>Line cd:</strong>
  <%= @station.line_cd %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @station.cd %>
</p>

<p>
  <strong>Line sort:</strong>
  <%= @station.line_sort %>
</p>

<p>
  <strong>Station g cd:</strong>
  <%= @station.station_g_cd %>
</p>

<p>
  <strong>Station type:</strong>
  <%= @station.station_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>Pref cd:</strong>
  <%= @station.pref_cd %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @station.lon %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @station.lat %>
</p>

<p>
  <strong>Display flg:</strong>
  <%= @station.display_flg %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
